p{
    margin-bottom: 0;
}

.mainCursos{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.seccionMasInformacion{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
    max-width: 80%;
    align-items: center;
    background-color: white;
    background-size: cover;
    padding: 150px 0 50px 0;
    gap: 20px;
}

.tituloNuestrosCursos{
    color: black;
    font-family: roboto-regular;
    font-size: 40px;
    font-weight: bold;
}

.contenedorCursos{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fotoCurso{
    min-width:5%;
    width: 8%;
    max-width: 10%;
    padding-top: 10px;
}

.fotoCursoAcelerado{
    width: 15%;
    max-width: 20%;
}

.contenedorCurso{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
   
}

.contenedorPortadaCurso{
    display: flex;
    width: 100%;
    background: linear-gradient(to right, rgb(140, 236, 216) 0%, rgb(78, 233, 148) 100%);
    background-size: cover;
    gap: 50px;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10px 0 0 0;
    font-size: 25px;
    
}

.whatsapp_float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
  }
  .whatsapp-icon {
    margin-top: 16px;
  }

  /* for mobile */
  @media screen and (max-width: 767px){
    .whatsapp-icon {
      margin-top: 10px;
    }
    .whatsapp_float {
      width: 40px;
      height: 40px;
      bottom: 20px;
      right: 10px;
      font-size: 22px;
    }
  }

a{
    list-style: none;
    color: black;
    text-decoration: none;
    font-family: roboto-regular;
    font-weight: 600;
    font-size: 20px;
}

#primerCurso {
    margin-top: 3rem;
    text-align: center;
    max-width: 80%;
}

.contenedorInfoCurso{
    justify-content: center;
    text-align: center;
    align-items: center;
    max-width: 70%;
    padding: 20px 10px;
}

.contenedorInfoCurso hr{
    border-top: 2px solid rgb(14, 131, 63);
}

@media screen and (max-width: 990px) {
    
    .fotoCursoAcelerado{
        width: 20%;
        max-width: 30%;
    }

    .fotoCurso{
        width: 15%;
        max-width: 20%;
    }
   
    .contenedorPortadaCurso{
        font-size: 25px;
        gap: 10px;
    }

}

@media  screen and (max-width: 500px) {

    #primerCurso {
        margin-top: 3rem;
        text-align: center;
        max-width: 80%;
        font-size: 35px;
    }

    .contenedorPortadaCurso{
        font-size: 22px;
        gap: 10px;
    }
}