main {
    margin-top: 100px;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;

    .nosotros {
        width: 90%;
        gap: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px 0;

        .contenedorInfo {
            position: relative;
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 20px;

            h3 {
                font-family: "Bree Serif", serif;
                font-size: 50px;
            }

            .contenedorInfoTexto {
                text-align: justify;
                font-size: 18px;
                width: 90%;
                font-size: 20px;
                font-family: "Montserrat", sans-serif;
            }
        }

        .contenedorImagen {
            position: relative;
            max-width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            .imagenNosotros {
                width: 70%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }
    }

    .nosotros-2 {
        position: relative;
        display: flex;
        background-color: #07705b;
        background-size: cover;
        padding: 50px 0;
        justify-content: center;
        align-items: center;
        text-align: center;

        .contenedorInfoCierre {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
            gap: 10%;

            .contenedorTexto {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 45%;
                gap: 20px;

                .tituloCeo {
                    color: white;
                    font-family: "Bree Serif", serif;
                    width: 100%;
                    font-size: 70px;
                    font-weight: 500;

                }

                .infoCierre {
                    color: #ffff;
                    font-family: "Montserrat", sans-serif;
                    font-size: 18px;
                    font-weight: 600;
                    text-align: justify;
                    width: 100%;
                    line-height: 3;
                }
            }
        }
    }
}



.whatsapp_float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.whatsapp-icon {
    margin-top: 16px;
}

@media screen and (max-width: 1390px) {
    .whatsapp-icon {
        margin-top: 10px;
    }

    .whatsapp_float {
        width: 40px;
        height: 40px;
        bottom: 20px;
        right: 10px;
        font-size: 22px;
    }
}


/* for mobile */
@media screen and (max-width: 767px) {
    .whatsapp-icon {
        margin-top: 10px;
    }

    .whatsapp_float {
        width: 40px;
        height: 40px;
        bottom: 20px;
        right: 10px;
        font-size: 22px;
    }
}

a {
    list-style: none;
    color: black;
    text-decoration: none;
    font-family: roboto-regular;
    font-weight: 600;
    font-size: 20px;
}





.contenedorImagenCeo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
}

.fotoCeo {
    position: relative;
    max-width: 70%;
}

.lineaTemporal {
    padding: 10px;
    max-width: 100%;
    width: 100%;
}

h4 {
    line-height: 2;
}

@media screen and (max-width:990px) {

    main {
        .nosotros {
            width: 100%;
            max-width: 100%;
            flex-direction: column;
            text-align: center;
            gap: 50px;

            .contenedorInfo {
                width: 90%;
                max-width: 90%;
                text-align: center;
                justify-content: center;
                align-items: center;
            }

            .contenedorImagen {
                max-width: 100%;

                .imagenNosotros {
                    max-width: 70%;
                    width: 70%;
                }
            }
        }

        .nosotros-2 {
            flex-direction: column;

            .contenedorInfoCierre {
                flex-direction: column;

                .contenedorTexto {
                    flex-direction: column;
                    width: 100%;
                    gap: 20px;
                    
                    .tituloCeo {
                        font-size: 40px;
                    }
                    
                    .infoCierre {
                        width: 100%;
                        font-size: 20px;
                        font-family: roboto-regular;
                    }
                }

                .contenedorImagenCeo {
                    width: 100%;
                    padding: 10px;

                    .fotoCeo {
                        position: relative;
                        max-width: 50%;
                    }
                }
            }
        }
    }



    h4 {
        line-height: 2;
    }



    .contenedorInfoTexto {
        font-size: 18px;
        width: 90%;
    }





}

@media screen and (max-width:645px){
    main {
        .nosotros{
            .contenedorInfo {

                h3{
                    font-size: 40px;
                }

                .contenedorInfoTexto{
                    font-size: 15px;
                }
            }

            .contenedorImagen {
                max-width: 100%;

                .imagenNosotros {
                    max-width: 50%;
                    width: 50%;
                }
            }
        }

        .nosotros-2 {
            flex-direction: column;

            .contenedorInfoCierre {
                flex-direction: column;

                .contenedorTexto {
                    flex-direction: column;
                    width: 100%;
                    gap: 20px;
                    
                    .tituloCeo {
                        font-size: 40px;
                    }
                    
                    .infoCierre {
                        width: 100%;
                        font-size: 15px;
                        font-family: roboto-regular;
                    }
                }

                .contenedorImagenCeo {
                    width: 100%;
                    padding: 10px;

                    .fotoCeo {
                        position: relative;
                        max-width: 50%;
                    }
                }
            }
        }
    }

    h4 {
        line-height: 2;
    }

    .contenedorInfoTexto {
        font-size: 18px;
        width: 90%;
    }
}

@media screen and (max-width:460px) {

    main {
        .nosotros {
            width: 100%;
            max-width: 100%;
            flex-direction: column;
            text-align: center;
            gap: 50px;

            .contenedorInfo {
                width: 90%;
                max-width: 90%;
                text-align: center;
                justify-content: center;
                align-items: center;
            }

            .contenedorImagen {
                max-width: 100%;

                .imagenNosotros {
                    max-width: 70%;
                    width: 70%;
                }
            }
        }

        .nosotros-2 {
            flex-direction: column;

            .contenedorInfoCierre {
                flex-direction: column;

                .contenedorTexto {
                    flex-direction: column;
                    width: 100%;
                    gap: 20px;
                    
                    .tituloCeo {
                        font-size: 40px;
                    }
                    
                    .infoCierre {
                        width: 100%;
                        font-size: 16px;
                        font-family: roboto-regular;
                    }
                }

                .contenedorImagenCeo {
                    width: 100%;
                    padding: 10px;

                    .fotoCeo {
                        position: relative;
                        max-width: 70%;
                    }
                }
            }
        }
    }



    h4 {
        line-height: 2;
    }



    .contenedorInfoTexto {
        font-size: 18px;
        width: 90%;
    }
}